.carousel ul {
  text-align: center;
}

.carousel .thumb.selected,
.carousel .thumb:hover {
  border: 3px solid #18cbbc;
}

.carousel .slide .legend {
  bottom: 5%;
  left: 0;
  margin-left: 0;
  width: 100%;
  background: rgb(8 255 236 / 0.1);
  backdrop-filter: blur(5px);
  font-size: 36px;
  opacity: 1;
}

.carousel.carousel-slider .control-arrow {
  padding: 5px 20px;
}

.carousel.carousel-slider .control-arrow:hover {
  background: rgb(8 255 236 / 0.1);
}

/* Responsive Design */
@media screen and (max-width: 767px) {
  .carousel .slide .legend {
    bottom: 12%;
    background: rgb(8 255 236 / 0.05);
    backdrop-filter: blur(1px);
    font-size: 10px;
  }

  .carousel.carousel-slider .control-arrow {
    padding: 5px 6px;
  }
}
